<!DOCTYPE html>
<html>
<head>
<style>
body{ 
 background-color: lightGray; 
 } 
 table { 
 font-family: Arial, Helvetica, sans-serif; 
 border-collapse: collapse; 
 width: 600px; 
  } 
 td,th { 
 border: 3px solid DodgerBlue; 
 padding: 9px;} 
 tr:nth-child(even){background-color: #f2f2f2;} 
 tr:hover {background-color: hsla(9, 100%, 64%, 0.5);} 
 th { 
 padding-top: 12px; 
 padding-bottom: 12px; 
 text-align: left; 
 background-color: #4CAF50; 
 color: white;} 
 </style> 
 </head> 
 <body>
<table>
<thead>
<tr><th style="text-align: right;">  Id</th><th>Name               </th><th style="text-align: right;">  Mrp</th><th>Description                                                                                             </th></tr>
</thead>
<tbody>
<tr><td style="text-align: right;">1001</td><td>Spicy Paneer wrap  </td><td style="text-align: right;">  179</td><td>Stuffing of grated paneer, which is sauteed in spicy masala.                                            </td></tr>
<tr><td style="text-align: right;">1002</td><td>Veg Burger         </td><td style="text-align: right;">  105</td><td>Veg patty, lettuce, tomato, onion, mustard and burger sauce.                                            </td></tr>
<tr><td style="text-align: right;">1003</td><td>Pink Sauce Pasta   </td><td style="text-align: right;">  210</td><td>Pasta made in a blend of tomato and cream sauce i.e Pink sauce.                                         </td></tr>
<tr><td style="text-align: right;">1004</td><td>Chocolate Milkshake</td><td style="text-align: right;">   80</td><td>A drink made by blending milk, ice-cream and flavourings of chocolate into a thick, cold, sweet mixture.</td></tr>
<tr><td style="text-align: right;">1005</td><td>Coke               </td><td style="text-align: right;">   50</td><td>A chilled bottle of classic coca-cola.                                                                  </td></tr>
</tbody>
</table>
</body></html>